.addBook{
    position: relative;
    top: 150px;
    border: 3px solid black;
    margin: -60px 500px;
    border-radius: 10px;
    height: auto;
    box-shadow: 10px 10px 5px black;
    background-color: lightgray;
    font-family: cursive;
}
.form1 textarea{
    width: 300px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    margin-left: 0px;
}
.form1 input{
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
.form1 button{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}