.addUser{
    position: relative;
    top: 150px;
    border: 3px solid black;
    width: auto;
    margin: 0px 500px;
    border-radius: 10px;
    height: 450px;
    box-shadow: 10px 10px 5px black;
    text-align: center;
    font-family: cursive;
    background-color: lightgray;
}
.form1{
    margin: 10px -500px;
}
.form1 input{
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px 5px;
    width: 300px;
}
.form1  button{
    border: 2px solid black;
    margin: 10px -1px;
    background-color: black;
    color: white;
}