.addUser{
    font-family: cursive;
    position: relative;
    top: 90px;
}
.name input{
    border: 1px solid black;
}
.age input{
    border: 1px solid black;
}
.email input{
    border: 1px solid black;
}
.phoneNumber input{
    border: 1px solid black;
}