.bookList{
    font-family: cursive;
    position: relative;
    top: 90px;
}
.bookList h1{
    font-size: 25px;
    margin: 10px 0px;
}
h6{
    font-size: 20px;
    /* margin: 20px 0px; */
}
.book_card{
    display: inline-block;
    width: 90%;
    background-color: lightgreen;
    padding: 10px;
    margin: 5px 0px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 5px 5px 5px black;
    border: 3px solid black;

}
.image{
    display:inline-block; 
    height: 300px;
    width: 300px;
    text-align: center;
}
.image img{
    height: 280px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    /* border: 3px solid black; */
}
.desc{
    height: 300px;
    width: 700px;
    padding: 20px;
    /* background-color: rgb(146, 80, 207); */
    text-align: left;
    border-radius: 20px;
    margin: 0px 0px 0px 20px;
    display: inline-block;
}
.desc button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 0px 10px;
}